<!DOCTYPE html>
<html>
    {{>head title="404 - Halaman Tidak Ditemukan"}}
<body>
    <div class="main-content">
        {{>header}}
        <h2>Error 404</h2>
        <p>{{pesankesalahan}}</p>
        <p><a href="/">Kembali ke Halaman Utama</a></p>
    </div>
    
    {{>footer}}
</body>
</html>