<!DOCTYPE html>
<html>
    {{>head title="Bantuan"}}
<body>
    <div class="main-content">
        {{>header}}
        <p>{{teksBantuan}}</p>
        
        <h3>FAQ (Frequently Asked Questions)</h3>
        <ul>
            <li><strong>Q: Bagaimana cara menggunakan aplikasi?</strong><br>
            A: Masukkan nama kota di form pencarian, lalu klik "Cari Cuaca"</li>
            
            <li><strong>Q: Data cuaca dari mana?</strong><br>
            A: Data cuaca diambil dari API Weatherstack</li>
            
            <li><strong>Q: Apakah aplikasi ini gratis?</strong><br>
            A: Ya, aplikasi ini sepenuhnya gratis</li>
        </ul>
    </div>
    
    {{>footer}}
</body>
</html>