<!DOCTYPE html>
<html>
    {{>head title="Tentang Saya"}}
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/foto-anda.png" alt="Foto Profil">
        <p>Halo! Saya {{Muhammad Firman}}, pengembang aplikasi cek cuaca ini.</p>
        <p>Aplikasi ini dibuat untuk memenuhi tugas praktikum pemrograman jaringan.</p>
    </div>
    
    {{>footer}}
</body>
</html>